.container {
    display: grid;
    /* position: relative; */
    grid-template-columns: 5vw 90vw 5vw;
    background-image: url("../../Assets/books/imageFive2.jfif");
    background-size: 100% 100%,cover;
    grid-template-rows: minmax(15vh,min-content) minmax(85vh,min-content);
    grid-template-areas: ". navbarCont ."
                        ". contentCont .";
}
.navbarCont{
    grid-area: navbarCont;
    /* background-color: blueviolet; */
}
.contentCont{
    grid-area: contentCont;
    /* background-color: brown; */
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: minmax(85vh,min-content);
    grid-template-areas: "imageAndCommentCont bookDetailsCont";
}
.imageAndCommentCont{
    grid-area: imageAndCommentCont;
    /* background-color: peru; */
}
.bookDetailsCont{
    grid-area: bookDetailsCont;
    /* background-color: green; */
}
.bookDetails{
    /* border: 1px solid black; */
    padding: 15px;
}

.bookCover {
    height : 50rem;
    width : 70rem;
    /* border: 3px solid red; */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.29);
}